@font-face{
	font-family: roboto;
	src:url(fonts/roboto/Roboto-Regular.ttf);
}

body{
	font-size: 16px;
	font-family: roboto;
	color: #505759;
}

h1, h2{
	font-weight: bold;
}

p{
	font-size: 1.4rem;
}

.zi-1{
	z-index: 1;
}

.zi-0{
	z-index: 0;
}

.navbar-brand>img{
	height: 10rem;
	width: auto;
	margin-left: -2rem;
	margin-top: -2rem;
	margin-bottom: -1rem;
}

.box1{
	overflow: hidden;
}

.box1 p{
	line-height: 2rem;
}

.box1 h1{
	font-size: 2rem;
}

.cont-2, .cont-3{
	background: rgba(238,107,255,1);
background: -moz-linear-gradient(left, rgba(238,107,255,1) 0%, rgba(246,41,12,1) 0%, rgba(95,42,102,1) 0%, rgba(104,113,149,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(238,107,255,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(95,42,102,1)), color-stop(100%, rgba(104,113,149,1)));
background: -webkit-linear-gradient(left, rgba(238,107,255,1) 0%, rgba(246,41,12,1) 0%, rgba(95,42,102,1) 0%, rgba(104,113,149,1) 100%);
background: -o-linear-gradient(left, rgba(238,107,255,1) 0%, rgba(246,41,12,1) 0%, rgba(95,42,102,1) 0%, rgba(104,113,149,1) 100%);
background: -ms-linear-gradient(left, rgba(238,107,255,1) 0%, rgba(246,41,12,1) 0%, rgba(95,42,102,1) 0%, rgba(104,113,149,1) 100%);
background: linear-gradient(to right, rgba(238,107,255,1) 0%, rgba(246,41,12,1) 0%, rgba(95,42,102,1) 0%, rgba(104,113,149,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee6bff', endColorstr='#687195', GradientType=1 );
	color: #fff;
	overflow: hidden;
}

.cont-2 p, .cont-3 p{
	font-size: 1rem;
}

.cont-4{
	overflow: hidden;
}

.img-fondo-1, .img-fondo-4{
	position: absolute;
	top: 0;
	left: 0;
}

.img-fondo-1{
	width: 110%;
	opacity: 0.5;
}

.img-fondo-4{
	height: 100%;
}

.img-fondo-2, .img-fondo-3{
	position: absolute;
	top: 0;
	left: 0;
	height: 110%;
	opacity: 0.1;
}

.elemento-morado{
	background-color: #6b3077;
	color: #fff;
	border: none;
}

.form-elemento{
	padding: 10px 10px;
	border: none;
	background-color: #b8bbd9;
}

.form-elemento::placeholder{
	color: #6b3077;
	opacity: 0.4;
}


.btn-link-1{
	border: solid 2px #fff;
	color: #fff;
	text-decoration: none;
	padding: 10px 30px;
}

.btn-link-1:hover{
	color: #5e3067;
	font-weight: bold;
	text-decoration: none;
	background-color: #fff;
}

.btn-morado{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.btn-morado:hover, .elemento-morado:hover{
	background-color: #521f5d;
	color: #fff;
}

.info-icon{
	height: 3rem;
	width: auto;
}

footer{
	background: rgba(238,107,255,1);
	background: -moz-linear-gradient(left, rgba(238,107,255,1) 0%, rgba(246,41,12,1) 0%, rgba(95,42,102,1) 0%, rgba(104,113,149,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(238,107,255,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(95,42,102,1)), color-stop(100%, rgba(104,113,149,1)));
	background: -webkit-linear-gradient(left, rgba(238,107,255,1) 0%, rgba(246,41,12,1) 0%, rgba(95,42,102,1) 0%, rgba(104,113,149,1) 100%);
	background: -o-linear-gradient(left, rgba(238,107,255,1) 0%, rgba(246,41,12,1) 0%, rgba(95,42,102,1) 0%, rgba(104,113,149,1) 100%);
	background: -ms-linear-gradient(left, rgba(238,107,255,1) 0%, rgba(246,41,12,1) 0%, rgba(95,42,102,1) 0%, rgba(104,113,149,1) 100%);
	background: linear-gradient(to right, rgba(238,107,255,1) 0%, rgba(246,41,12,1) 0%, rgba(95,42,102,1) 0%, rgba(104,113,149,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee6bff', endColorstr='#687195', GradientType=1 );
	color: #fff;
	font-size: 1rem;
}


footer .logos-social img{
	height: 1.3rem;
}

.nav-footer a{
	display: block;
	color: #fff;
	text-align: center;
}

footer>.col-10>p{
	color: #fff;
	font-size: 0.9rem;
	text-align: center;
}

.cont-text-listas-1, .cont-text-listas-2{
		padding-right: 0px;
	}

@media (max-width: 575px){

	.cont-nav-princ, .navbar-collapse{
		background-color: #b8bbd9;
	}

	.navbar{
		padding-left: 0;
		padding-right: 0;
	}

	.nav-item:hover{
		background: rgba(238,107,255,1);
		background: -moz-linear-gradient(left, rgba(238,107,255,1) 0%, rgba(246,41,12,1) 0%, rgba(95,42,102,1) 0%, rgba(104,113,149,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(238,107,255,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(95,42,102,1)), color-stop(100%, rgba(104,113,149,1)));
		background: -webkit-linear-gradient(left, rgba(238,107,255,1) 0%, rgba(246,41,12,1) 0%, rgba(95,42,102,1) 0%, rgba(104,113,149,1) 100%);
		background: -o-linear-gradient(left, rgba(238,107,255,1) 0%, rgba(246,41,12,1) 0%, rgba(95,42,102,1) 0%, rgba(104,113,149,1) 100%);
		background: -ms-linear-gradient(left, rgba(238,107,255,1) 0%, rgba(246,41,12,1) 0%, rgba(95,42,102,1) 0%, rgba(104,113,149,1) 100%);
		background: linear-gradient(to right, rgba(238,107,255,1) 0%, rgba(246,41,12,1) 0%, rgba(95,42,102,1) 0%, rgba(104,113,149,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee6bff', endColorstr='#687195', GradientType=1 );
	}

	.navbar-light .navbar-nav .nav-link:hover{
		color: #fff;
	}

	.cont-nav-princ{
		padding-right: 0;
		padding-left: 0;
	}

	.img-card-cont{
		display: none;
	}

	.cont-text-listas-1{
		background-image: url(image/card-img-1.jpg);
	}

	.cont-text-listas-2{
		background-image: url(image/card-img-2.jpg);
	}

	.cont-text-listas{
		background-size: cover;
		background-repeat: no-repeat;
		text-align: center;
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	.cont-text-listas h2{
		text-align: center;
	}

	.cont-text-listas p{
		color: #fff;
		border-radius: 5px;
		padding: 1rem;
		font-size: 1.3rem;
	}

}

@media (min-width: 894px){

	.img-fondo-1, .img-fondo-2{
		height: 100%;
		width: auto;
		opacity: 1;
	}

	.img-fondo-1{
		left: 30%;
	}

	.img-fondo-4{
		display: none;
	}

	.cont-4{
		background-image: url(image/bg-4.png);
		background-size: 120%;
		background-repeat: no-repeat;
		background-position: center;
	}

	.cont-info-2{
		width: 50%;
	}

	.cont-info-3, .cont-info-4{
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.cont-text-listas p{
		padding: 1rem;
	}
	
}

@media (min-width: 1200px){
	.cont-1, .cont-2, .cont-4{
		height: 100vh;
		overflow: hidden;
	}

	.cont-1 p, .cont-2 {
		font-size: 1.5;
	}

	.img-fondo-1, .img-fondo-2{
		width: 100vw;
		height: auto;
	}

	.img-fondo-1{
		display: none;
	}

	.cont-1{
		background-image: url(image/bg-1.png);
		background-size: cover;
		background-repeat: no-repeat;
	}

	.box-1{
		padding-top: 0px;
	}

	.box1 h1{
		font-size: 3rem;
	}

	.txt-1-2{
		font-size: 1.7rem;
	}

	.cont-4{
		text-align: center;
	}

	.cont-2 p{
		font-size: 1.3rem;
	}

}

@media (min-width: 576px){
	.cont-text-listas{
		text-align: center;
	}
}

